h3[b-dkg5svi7ou] {
    background-color: rgb(114, 201, 150);
    width: 27%;
}

button[b-dkg5svi7ou] {
    background-color: rgb(114, 201, 150);
    cursor: pointer;
}

.newTodo[b-dkg5svi7ou] {
    color: rgb(88, 133, 184);
}

